/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "lily58.dtsi"

&kscan0 {
    col-gpios
        = <&gpio 19 GPIO_ACTIVE_HIGH>
        , <&gpio 18 GPIO_ACTIVE_HIGH>
        , <&gpio 15 GPIO_ACTIVE_HIGH>
        , <&gpio 14 GPIO_ACTIVE_HIGH>
        , <&gpio 16 GPIO_ACTIVE_HIGH>
        , <&gpio 10 GPIO_ACTIVE_HIGH>
        ;
};

&left_encoder {
    status = "okay";
    a-gpios = <&gpio 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
    b-gpios = <&gpio 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
};

};
